:root{
    margin:5px;
    padding: 5px;
    background-image: url(./src/images/background.jpeg);
    background-size: cover;
}

.foto{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

body{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.icone{
    width: 50px;
    padding-right: 10px;
}